[Desktop Entry]
Type=Application
Name=Punto de Venta
GenericName=Sistema Punto de Venta
Comment=PoSKMP - Sistema Punto de Venta
Exec=/usr/bin/punto-de-venta
Icon=punto-de-venta
Terminal=false
Categories=Office;Utility;
StartupWMClass=Punto de Venta
